/* custom css */
.font-a {
	font-family: "Montserrat", "Source Sans Pro", Helvetica, Arial,
		"Noto Sans KR", sans-serif;
	font-weight: 300;
}

.font-b {
	font-family: "Montserrat", "Nanum Square", "Kakao", "Poppins",
		"Nanum Barun Gothic", sans-serif;
}

a:link {
	text-decoration: none;
}

/* 메뉴 */
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
	color: #222;
}

.navbar-toggler-right {
	margin-top: 0px;
}

.borderlist {
	list-style-position: inside;
	border-top: 1.6px solid black;
	/* border-bottom: 1px solid grey; */
}

a {
	color: #222;
}

.rotate-90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* muicss 폼 스타일 */
.mui-select:focus>select {
	height: calc(52px + 1px);
	margin-bottom: -1px;
	border-color: #fc2092;
	border-width: 0.165rem;
	letter-spacing: -0.03rem;
}

.mui-select:focus>label, .mui-select>select:focus ~label {
	color: #fc2092;
	letter-spacing: -0.03rem;
}

.mui-select>select {
	display: block;
	height: 52px;
	letter-spacing: -0.03rem;
}

.mui-select:hover>select {
	border-color: orange;
}

.mui-table>tbody>tr>td {
	padding: 10.165rem;
	line-height: 1.429;
}

.mui-table>thead>tr>th {
	border-bottom-color: rgba(0, 0, 0, 0.26);
	border-bottom-style: solid;
	border-bottom-width: 3px;
	font-weight: 700;
}

.mui-form {
	width: 100%;
}

.mui-table>tbody>tr>td {
	padding: 2px;
}

.mui-select>select {
	border-width: 0.165rem;
	border-color: hotpink;
}

.mui-textfield>input, .mui-textfield>textarea {
	border-width: 0.165rem;
	border-color: black;
}

.mui-textfield>input:focus ~label, .mui-textfield>textarea:focus ~label
	{
	color: #fc2092
}

.mui-textfield>input:focus, .mui-textfield>textarea:focus {
	border-color: #fc2092;
	border-width: 0.165rem
}

input, textarea, select, button {
	font-weight: 400;
}

input, button, select, optgroup, textarea {
	margin: 5px 0 0 0;
}

.mui-textfield>textarea {
	min-height: 450px
}

.mui-textfield>textarea.mui-reply {
	min-height: 50px;
}

.mui-textfield>label {
	color: rgba(48, 48, 48, .9);
}

input, textarea, select, button {
	letter-spacing: -0.07rem;
}

.form-small-font-a {
	display: block;
	color: rgba(48, 48, 48, .9);
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: .5rem;
}

.mui-panel-no-shadow {
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 0;
	background-color: #FFF;
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .16), 0 0 0px 0
		rgba(0, 0, 0, .12);
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .16), 0 0 0px 0 rgba(0, 0, 0, .12);
}

/* mui-css 테이블 */
.mui-table>tbody>tr>td {
	line-height: 1.6;
}

.mui-table>thead>tr>th {
	border-bottom-color: black;
}

.table td, .table th {
	/* font-size: 1.05rem; */
	
}

.mui-table>tbody>tr>td {
	padding: 3px;
}

.table th, .table td {
	border-top: 3px solid #ffffff;
}

.mui-table.mui-table--bordered>tbody>tr>td {
	border-bottom: 0px solid rgba(0, 0, 0, .12);
	/*  rgba(0,0,0,.12); */
}

.mui-table>thead>tr>th {
	/* border-bottom-color: rgba(0, 0, 0, 0.26); */
	border-bottom-style: solid;
	border-bottom-width: 3px;
	font-weight: 700;
}

.mui-table>thead>tr>th {
	/* border-bottom: 2px solid rgba(0,0,0,.12); */
	font-weight: 700;
}

.table td, .table th {
	white-space: unset;
}

.table th, .table td {
	padding: 10px 10px;
}

/** footer style 바꾸기  **/
.footer {
	background: black; /* #f9f9f9; */
	border-top: 0.5px solid #f2f2f2;
	min-height: 60px;
	color: white;
}

/** pagination 설정 **/
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	/* color: #337ab7; */
	text-decoration: none;
	background-color: #efefef00;
	/* border: 1px solid #dddddd; */
	font-weight: 500;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus,
	.pagination>li>span:focus {
	z-index: 2;
	color: #23527c;
	background-color: #eeeeee;
	border-color: #dddddd;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 3;
	color: #ffffff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	color: #777777;
	cursor: not-allowed;
	background-color: #ffffff;
	border-color: #dddddd;
}

.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/** simpel date picker **/
.simplepicker-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	background-color: #4c4c4c7d;
	width: 100vw;
	height: 100vh;
	display: none
}

.simplepicker-wrapper.active {
	display: block
}

.simpilepicker-date-picker {
	width: 326px;
	cursor: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	background-color: #fff;
	margin: 2% auto;
	box-shadow: 1px 2px 4px .5px rgba(0, 0, 0, .22), 1px 2px 4px .5px
		transparent
}

.simplepicker-day-header {
	color: #fff;
	background-color: #016565;
	text-align: center;
	padding: 4px 0
}

.simplepicker-date-section {
	text-align: center;
	background-color: #078e8e;
	color: #fff
}

.simplepicker-date-section .simplepicker-month-and-year {
	font-size: 22px;
	padding: 14px 0 7px;
	font-weight: 200
}

.simplepicker-date-section .simplepicker-date {
	font-size: 35px;
	padding: 2px;
	margin-bottom: 12px
}

.simplepicker-select-pane {
	display: flex;
	width: 100%
}

.simplepicker-select-pane .simplepicker-time,
	.simplepicker-selected-date {
	text-align: center;
	flex: 2
}

.simplepicker-icon, .simplepicker-selected-date, .simplepicker-time {
	border: none;
	background: transparent;
	padding: 2px;
	margin: 4px 6px;
	width: 25px;
	height: 25px;
	opacity: .5
}

.simplepicker-selected-date, .simplepicker-time {
	opacity: 1
}

.simplepicker-month-switcher {
	margin-top: 5px
}

.simplepicker-icon:hover {
	opacity: .8
}

.simplepicker-icon.active, .simplepicker-icon:active {
	opacity: 1
}

.simplepicker-icon:focus {
	outline: none
}

.simplepicker-icon-next {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hcnJvdy1yaWdodCI+PGxpbmUgeDE9IjUiIHkxPSIxMiIgeDI9IjE5IiB5Mj0iMTIiPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSIxMiA1IDE5IDEyIDEyIDE5Ij48L3BvbHlsaW5lPjwvc3ZnPg==)
}

.simplepicker-icon-previous {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hcnJvdy1sZWZ0Ij48bGluZSB4MT0iMTkiIHkxPSIxMiIgeDI9IjUiIHkyPSIxMiI+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9IjEyIDE5IDUgMTIgMTIgNSI+PC9wb2x5bGluZT48L3N2Zz4=)
}

.simplepicker-icon-calender {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jYWxlbmRhciI+PHJlY3QgeD0iMyIgeT0iNCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iMiIgcnk9IjIiPjwvcmVjdD48bGluZSB4MT0iMTYiIHkxPSIyIiB4Mj0iMTYiIHkyPSI2Ij48L2xpbmU+PGxpbmUgeDE9IjgiIHkxPSIyIiB4Mj0iOCIgeTI9IjYiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjEwIiB4Mj0iMjEiIHkyPSIxMCI+PC9saW5lPjwvc3ZnPg==)
}

.simplepicker-icon-time {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jbG9jayI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiPjwvY2lyY2xlPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiPjwvcG9seWxpbmU+PC9zdmc+)
}

.simplepicker-bottom-part {
	padding: 5px 0 12px;
	padding-left: 48%
}

.simplepicker-calender table {
	width: 100%;
	font-size: 13px
}

.simplepicker-calender thead th {
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 6px;
	width: 14.28%;
	height: 30px;
	text-align: center
}

.simplepicker-calender tbody td {
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding: 12px;
	z-index: 1
}

.simplepicker-calender tbody td:after {
	content: " ";
	visibility: hidden;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, .05)
}

.simplepicker-calender tbody td:hover:after {
	visibility: visible
}

.simplepicker-calender tbody td.active, .simplepicker-calender tbody td:active
	{
	color: #fff
}

.simplepicker-calender tbody .active:after, .simplepicker-calender tbody td:active:after
	{
	visibility: visible;
	background-color: teal;
	z-index: -1
}

.simplepicker-calender tbody td[data-empty] {
	pointer-events: none
}

.simplepicker-time-section {
	display: none;
	height: 120px
}

.simplepicker-time-section input {
	box-sizing: border-box;
	width: 120px;
	height: 32px;
	max-width: 120px;
	max-height: 32px;
	padding: 4px 3px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 14px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: block;
	margin: 25% auto
}

.simplepicker-time-section input:focus {
	outline: none;
	border-bottom-color: teal
}

.simplepicker-picker-section {
	width: 100%;
	height: auto
}

.simplepicker-btn {
	border: none;
	background: transparent;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	padding: 7px 14px;
	border: 1px solid #ddd;
	margin: 0 5px;
	border-color: #016565;
	color: #016565;
	font-size: 13px
}

.simplepicker-btn:active, .simplepicker-btn:hover {
	color: #fff;
	background-color: #016565
}

.simplepicker-fade {
	color: hsla(0, 0%, 88%, .95)
}

.simplepicker-btn, .simplepicker-icon, .simplepicker-wrapper {
	cursor: pointer
}

.simplepicker-btn {
	border: none;
	background: transparent;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	padding: 7px 14px;
	border: 2.5px solid black;
	margin: 0;
	border-color: black;
	color: black;
	font-size: 13px;
}

.simplepicker-btn:active, .simplepicker-btn:hover {
	color: #fff;
	background-color: black;
}

.simpilepicker-date-picker {
	border: 2.5px solid;
}

.simplepicker-date-section {
	background-color: #000000;
}

.simplepicker-day-header {
	background-color: #222;
}

.simplepicker-calender tbody .active:after, .simplepicker-calender tbody td:active:after
	{
	background-color: #ffaf00;
}

.simplepicker-time-section input:focus {
	border-bottom-color: black
}

/*# sourceMappingURL=simplepicker.css.map*/