<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<title>Formspree Page</title>

<!-- Favicons and -- For iPhone -->
<link rel="icon" th:href="@{'/resources/images/favicon.ico'}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" th:href="@{'/resources/images/favicon.ico'}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:href="@{'/resources/images/favicon.ico'}">

<!-- CSS -->
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/font-awesome/css/font-awesome.css'}" type="text/css">

<link rel="stylesheet" th:href="@{'/resources/vendors/icheck/skins/all.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/style.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.base.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.addons.css'}" type="text/css">

</head>


<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
			<div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
				<div class="row flex-grow">
					<div class="col-lg-7 mx-auto text-white">
						<div class="row align-items-center d-flex flex-row">
							<div class="col-lg-6 text-lg-right pr-lg-4">
								<h1 class="display-1 mb-0">확인</h1>
							</div>
							<div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">

								<h3 class="font-weight-light"><p>시차가 있지만, 24시간 이내로 상담메일을 회신해 드립니다. <br/>만약 메일을 받지 못하셨다면, 다시한번 liffeydublin@naver.com 으로 메일을 주세요.</p></h3>

								<form class="form-sample" id="formaction" method="POST" />
								<p class="card-description" style="padding: 0 0.5rem 0.5rem 0.5rem;">
									
								</p>

								<input type="hidden" name="_next" value="//localhost:8080/boards/" />
								<input type="text" name="_gotcha" style="display: none" />
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="name" th:field="*{user.fname}" name="name" />
												<!--  th:valuse 로 했을때는 안됌?? -->
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">E-Mail</label>
											<div class="col-sm-9">
												<input class="form-control" type="email" id="email" name="email" th:field="*{user.email}" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Kakao Talk</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="kakaotalk" name="kakaotalk" th:field="*{userProfile.kakaotalk}" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<!-- <input type="text" name="sex" placeholder="성별" /> -->
											<label class="col-sm-3 col-form-label">Gender</label>
											<div class="col-sm-9">
												<select class="form-control" th:field="*{userProfileFormspree.gender}">
													<option value=""></option>
													<option value="male">Male</option>
													<option value="female">Female</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Telephone</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="tel" th:field="*{userProfileFormspree.telephone}" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Occupation</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="ocupation" th:field="*{userProfileFormspree.occupation}" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Study Plan</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="timeToStudy" th:field="*{userProfileFormspree.when}" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">English Level</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="levelOfEnglish" th:field="*{userProfileFormspree.englishlevel}" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Budget</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="priceOfSchool" th:field="*{userProfileFormspree.budget}" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">School</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="nameOfSchool" th:field="*{userProfileFormspree.school}" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Duration</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="durationOfStudy" th:field="*{userProfileFormspree.duration}" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">MBTI type</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="mbti" th:field="*{userProfile.mbti}" />
											</div>
										</div>
										<!-- <div class="form-group row">
													<label class="col-sm-3 col-form-label">Interest</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" name="interest" placeholder="취미 혹은 흥미" />
													</div>
												</div> -->
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label class="col-form-label" for="exampleTextarea1">Textarea</label>
										<div class="form-group row">
											<div class="col-sm-12">
												<textarea class="form-control" style="line-height: 20px; width: 100%;" id="exampleTextarea1" rows="10" name="message"
													th:field="*{userProfileFormspree.textarea}">
													</textarea>
											</div>
										</div>
									</div>
								</div>
							<!-- 	<button type="submit" class="btn btn-primary btn-fw" id="formspree_submit">Submit</button> -->
								<!-- </form> -->

							</div>
						</div>
						<div class="row mt-5">
							<div class="col-12 text-center mt-xl-2">
								<!-- <form th:action="@{'/logout'}" method="post">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
									<input type="submit" value="보내기" class="btn btn--radius-2 btn--red btn--full">
								</form>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-12 mt-xl-2">
								<p class="text-white font-weight-medium text-center">Copyright &copy; 2019 리피의 아일랜드 All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>



	<script>
		var contactform = document.getElementById('formaction');
		contactform.setAttribute('action', '//formspree.io/' + 'liffeydublin'+ '@' + 'naver' + '.' + 'com'); 
		
		document.getElementById("formaction").style.display = 'none';
	</script>
	<!-- plugins:js -->
	<script th:src="@{'/resources/vendors/js/vendor.bundle.base.js'}"></script>
	<script th:src="@{'/resources/vendors/js/vendor.bundle.addons.js'}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script th:src="@{'/resources/js/off-canvas.js'}"></script>
	<script th:src="@{'/resources/js/misc.js'}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<!-- End custom js for this page-->
</body>