<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<title>Formspree Page</title>

<!-- Favicons and -- For iPhone -->
<link rel="icon" th:href="@{'/resources/images/favicon.ico'}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" th:href="@{'/resources/images/favicon.ico'}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:href="@{'/resources/images/favicon.ico'}">

<!-- CSS -->
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/font-awesome/css/font-awesome.css'}" type="text/css">

<link rel="stylesheet" th:href="@{'/resources/vendors/icheck/skins/all.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/style.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.base.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.addons.css'}" type="text/css">

</head>


<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
			<div class="content-wrapper d-flex align-items-center text-center error-page bg-danger">
				<div class="row flex-grow">
					<div class="col-lg-7 mx-auto text-white">
						<div class="row align-items-center d-flex flex-row">
							<div class="col-lg-6 text-lg-right pr-lg-4">
								<h1 class="display-1 mb-0">확인</h1>
							</div>
							<div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
								
								<h3 class="font-weight-light">Formspree</h3>
								<p><span th:if="${user} != null" th:text="${user.getFname()}">user name</span></p>
								<p><span th:if="${user} != null" th:text="${userProfile.getMbti()}">user mbti</span></p>
								<p><span th:if="${user} != null" th:text="${userProfileFormspree.getOccupation()}">user occupation</span></p>
								<p><span th:if="${user} != null" th:text="${userProfileFormspree.getSchool()}">user occupation</span></p>
								<p><span th:if="${user} != null" th:text="${userProfileFormspree.getBudget()}">user occupation</span></p>
								<p><span th:if="${user} != null" th:text="${userProfileFormspree.getTextarea()}">user occupation</span></p>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-12 text-center mt-xl-2">
								<form th:action="@{'/logout'}" method="post">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
									<input type="submit" value="Log out" class="btn btn--radius-2 btn--red btn--full">
								</form>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-12 mt-xl-2">
								<p class="text-white font-weight-medium text-center">Copyright &copy; 2018 All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>

	
	
	<script>
		/* var contactform = document.getElementById('formaction');
		contactform.setAttribute('action', '//formspree.io/' + 'liffeydublin'+ '@' + 'naver' + '.' + 'com'); */
		
		/* document.getElementById("formspree_submit").addEventListener("click", () => {
			console.log("hello");
		}) */
	</script>
	<!-- plugins:js -->
	<script th:src="@{'/resources/vendors/js/vendor.bundle.base.js'}"></script>
	<script th:src="@{'/resources/vendors/js/vendor.bundle.addons.js'}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script th:src="@{'/resources/js/off-canvas.js'}"></script>
	<script th:src="@{'/resources/js/misc.js'}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<!-- End custom js for this page-->
</body>


