<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<title>User Profile Page</title>

<!-- Favicons and -- For iPhone -->
<link rel="icon" th:href="@{'/resources/images/favicon.ico'}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" th:href="@{'/resources/images/favicon.ico'}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:href="@{'/resources/images/favicon.ico'}">

<!-- CSS -->
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/font-awesome/css/font-awesome.css'}" type="text/css">

<link rel="stylesheet" th:href="@{'/resources/vendors/icheck/skins/all.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/style.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.base.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.addons.css'}" type="text/css">

<style>
.font1rem {
	/* font-size: 0.99rem; */
	
}
</style>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
				<a class="navbar-brand brand-logo" th:href="@{'/'}">
					<img th:src="@{'/resources/images/main-logo.svg'}" alt="" />
				</a>
				<a class="navbar-brand brand-logo-mini" th:href="@{'/'}">
					<img th:src="@{'/resources/images/icon-cube-green.svg'}" alt="" />
				</a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center">
				<ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
				</ul>
				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item dropdown d-none d-xl-inline-block">
						<span class="profile-text">Hello!&nbsp;</span>
						<span class="profile-text" th:text="${user.getFname()}">Hello, Richard V.Welsh !</span>
						<span class="profile-text" style="margin-right: 15px;"> 님</span>
						<a id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
							<img class="img-xs rounded-circle" th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="Profile image">
						</a>

						<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
							<a class="dropdown-item p-0">
								<div class="d-flex border-bottom">
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
										<i class="mdi mdi-account-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
									</div>
								</div>
							</a>
							<a class="dropdown-item mt-2"> Manage Accounts </a>
							<a class="dropdown-item"> Change Password </a>
							<a class="dropdown-item"> Check Inbox </a>
							<a class="dropdown-item"> Sign Out </a>
						</div>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item nav-profile">
						<div class="nav-link">
							<div class="user-wrapper">
								<div class="profile-image">
									<img th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="profile image">
								</div>
								<div id="user_id" th:text="${user.getId()}" style="display: none;">99999</div>
								<div class="text-wrapper">
									<span class="profile-name" th:text="${user.getFname()}">홍길동</span>
									<span>&nbsp;님</span>
									<div>
										<small class="designation text-muted" style="padding: 0 6px 0 0px;">member</small>
										<span class="status-indicator online"></span>
									</div>
								</div>
							</div>
							<form th:action="@{'/logout'}" method="post">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
								<button class="btn btn-secondary btn-block" type="submit">
									<h5 style="margin-block-end: 0em;">
										<i class="menu-icon mdi mdi-power"></i>
										Log - Out
									</h5>
								</button>
							</form>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}}">
							<i class="menu-icon mdi mdi-television"></i>
							<span class="menu-title">Dash Board</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}+'/profile'}">
							<i class="menu-icon mdi mdi-backup-restore"></i>
							<span class="menu-title">My Profile</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}+'/schools'}">
							<i class="menu-icon mdi mdi-table"></i>
							<span class="menu-title">Schools</span>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
							<i class="menu-icon mdi mdi-content-copy"></i>
							<span class="menu-title">Schools</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="ui-basic">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item">
									<a class="nav-link" href="pages/ui-features/buttons.html">Student Visa</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="pages/ui-features/typography.html">Working Holiday</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}+'/profile'}">
							<i class="menu-icon mdi mdi-chart-line"></i>
							<span class="menu-title">Charts</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pages/tables/basic-table.html">
							<i class="menu-icon mdi mdi-table"></i>
							<span class="menu-title">Tables</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pages/icons/font-awesome.html">
							<i class="menu-icon mdi mdi-sticker"></i>
							<span class="menu-title">Icons</span>
						</a>
					</li> -->
				</ul>
			</nav>

			<!--  메인 **/ -->

			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="col-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<!-- <h4 class="card-title">Select School</h4> -->
								<form action="#" id="search-form" method="GET">
									<!-- <p class="card-description">What's your preference?</p> -->
									<div class="row col-lg-10" style="margin: auto; padding: 0;">

										<div class="col-md-4">
											<div class="form-group row">
												<!--  The name attribute is used when sending data in a form submission.
													https://stackoverflow.com/a/1397613/4735043
													 -->
												<div class="col-sm-12">
													<select class="form-control" id="area" name="area">
														<option value="Dublin">DUBLIN</option>
														<option value="Cork">CORK</option>
														<option value="Galway">GALWAY</option>
														<option value="ETC">ETC</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<!-- <label class="col-sm-3 col-form-label card-description">학업기간</label> -->
												<div class="col-sm-12">
													<select class="form-control" id="studyterm" name="studyterm">
														<option value="6">6개월</option>
														<option value="3">3개월</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<!-- <label class="col-sm-3 col-form-label">Country</label> -->
												<div class="col-sm-12">
													<!-- <button type="submit" class="btn btn-primary btn-fw" id="formspree_submit">Submit</button> -->
													<input type="submit" id="submit_btn" value="Send Request" class="form-control btn-primary">
													<!-- <button type="submit" id="submit_btn" class="btn btn-danger btn-fw" style="margin: 10px 10px 0 10px;">Submit</button> -->
												</div>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col-lg-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<!-- <h4 class="card-title">Schools</h4>
								<p class="card-description">
									Dublin
									<code>.table-bordered</code>
								</p> -->
								<div class="table-responsive">
									<table class="table table-bordered" id="table1">
										<thead>
											<tr>
												<th>학교명</th>
												<th>코스명</th>
												<th>코스가격</th>
												<th>학교주소</th>
												<th>설명</th>
											</tr>
										</thead>
										<tbody id="tbody1">


											<!-- <tr>
												<td>1</td>
												<td>Herman Beck</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$ 77.99</td>
												<td>May 15, 2015</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Messsy Adam</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$245.30</td>
												<td>July 1, 2015</td>
											</tr>
											<tr>
												<td>3</td>
												<td>John Richards</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$138.00</td>
												<td>Apr 12, 2015</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Peter Meggik</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$ 77.99</td>
												<td>May 15, 2015</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Edward</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$ 160.25</td>
												<td>May 03, 2015</td>
											</tr>
											<tr>
												<td>6</td>
												<td>John Doe</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$ 123.21</td>
												<td>April 05, 2015</td>
											</tr>
											<tr>
												<td>7</td>
												<td>Henry Tom</td>
												<td>
													<div class="progress">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td>$ 150.00</td>
												<td>June 16, 2015</td>
											</tr> -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				<footer class="footer">
					<div class="container-fluid clearfix">
						<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
							Copyright © 2018
							<a href="#" target="_blank" style='font-family: "Kakao"'>리피의 아일랜드</a>
							. All rights reserved.
						</span>
						<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
							Hand-crafted & made with
							<i class="mdi mdi-heart text-danger"></i>
						</span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- plugins:js -->
	<script th:src="@{'/resources/vendors/js/vendor.bundle.base.js'}"></script>
	<script th:src="@{'/resources/vendors/js/vendor.bundle.addons.js'}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script th:src="@{'/resources/js/off-canvas.js'}"></script>
	<script th:src="@{'/resources/js/misc.js'}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{'/resources/js/dashboard.js'}"></script>
	<!-- End custom js for this page-->

	<script>
		function disableSearchButton() {
			document.getElementById("submit_btn").disabled = true;
		};
		
		function enableSearchButton() {
			document.getElementById("submit_btn").disabled = false;
		};
		
		jQuery(document).ready(function($){
			$("#search-form").submit(function(event) {
				disableSearchButton();
				event.preventDefault();
				searchViaAjax();
			})
		});
		
		function searchViaAjax() {
			var area = document.getElementById("area").value
			var studyterm = document.getElementById("studyterm").value

			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/boards/school/api/search/condition", 
				data : "area=" + area + "&studyterm=" + studyterm + "",
				dataType: "json",
				timeout : 100000,
				success : function(data) {
					doSomething(data);
					enableSearchButton();
				},
				error : function(e) {
					console.log("ERROR: ", e);
					/* display(e); */
				},
				done : function(e) {
					console.log("DONE");
					enableSearchButton();
				}
			});
		}
		
		function doSomething(json){
			var userid
			var korRate
            var proxyUrl = 'https://cors-anywhere.herokuapp.com/'
            var targetUrl = 'http://rate-exchange-1.appspot.com/currency?from=EUR&to=KRW'
            var school_id
            		
			fetch(proxyUrl + targetUrl)
            .then(blob => blob.json())
            .then(data => {
                korRate = data.rate;
                const rows = json.map((item) => {
                    return [item.nameofschool, item.nameofcourse, formatter.format(Math.round(item.priceofcourse * korRate/100)*100),
                        item.address, item.producttext
                    ];
                })
                return rows;
            }).then((array) => {
                if (!document.getElementsByTagName) return;
                $("#tbody1").empty();
                tBody = document.getElementsByTagName("tbody").item(0);
                array.forEach((element) => {
                    row = document.createElement("tr");
                    var isFirst = true;
                    element.forEach((item) => {
                        cell = document.createElement("td");
                        node = document.createTextNode(item);
                        
                        if(!isFirst){
                        	cell.appendChild(node);
                        }
                        
                        if(isFirst){
                        	userid = document.getElementById("user_id").innerHTML
                        	a = document.createElement("a");
                            a.setAttribute('href', "/boards/user/"+userid+"/schools?school="+item+"");
                            a.appendChild(node);
                            cell.appendChild(a);
                            isFirst = false;
                        }
                        
                        // 		
                        row.appendChild(cell);
                    })
                    tBody.appendChild(row);
                })
            })
            .catch(e => {
                console.log(e);
            });
		}
		
		var formatter = new Intl.NumberFormat('ko-KO', {
			  style: 'currency',
			  currency: 'KRW',
			  minimumFractionDigits: 0,
			})
	</script>

</body>
</html>