<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">


<title th:text="'리피의 아일랜드 : ' + ${user.fname} + ' 님'">리피의 아일랜드</title>

<!-- Favicons and -- For iPhone -->
<link rel="icon" th:href="@{'/resources/images/favicon.ico'}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" th:href="@{'/resources/images/favicon.ico'}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:href="@{'/resources/images/favicon.ico'}">

<!-- CSS -->

<link href="https://cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.muicss.com/mui-0.9.41/js/mui.min.js" type="text/javascript"></script>

<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/font-awesome/css/font-awesome.css'}" type="text/css">

<link rel="stylesheet" th:href="@{'/resources/vendors/icheck/skins/all.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/style.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/custom.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/simplepicker.css'}" type="text/css">
<script th:src="@{'/resources/js/simplepicker.js'}"></script>

<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.base.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.addons.css'}" type="text/css">

<style>
.fixed_menu {
	position: fixed;
}

.margin_for_fixed {
	margin-left: 255px;
}

@media ( max-width :991px) {
	.fixed_menu {
		/* position: absolute; */
		
	}
	.margin_for_fixed {
		margin-left: 0;
	}
}

.navbar.default-layout {
	transition: background 0.25s ease;
	-webkit-transition: background 0.25s ease;
	-moz-transition: background 0.25s ease;
	-ms-transition: background 0.25s ease;
	background-color: rgba(255, 255, 255);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
		rgba(220, 220, 220, 0.4));
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
	color: #222;
}

.navbar-brand-wrapper {
	background-color: rgba(255, 255, 255 .5);
}

.navbar.default-layout .navbar-menu-wrapper {
	color: #222;
}

.content-wrapper {
	background: rgba(220, 220, 220, 0.1);
}
</style>


<style>
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 400px;
	position: relative;
	margin: 20% auto;
	padding: 15px 15px;
	border-radius: 3px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}
</style>

<style>
.sidebar .nav .nav-item .nav-link {
	padding: 5px 20px;
}

.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper {
	margin: 15px 5px;
}
</style>


<style>
.bg-color-a {
	background-color: #f7f7f7ba;
}

/** simplepicker **/
.simplepicker-date-section {
	background-color: #232323;
}

.simplepicker-day-header {
	background-color: #5a5a5a;
}

.simplepicker-btn {
	border: 3px solid #222;
	border-color: #000000;
	color: #000000;
}

.simpilepicker-date-picker {
	border: 2.5px solid black;
}

.simplepicker-calender tbody .active::after, .simplepicker-calender tbody td:active::after
	{
	background-color: #ffe100;
}
</style>

<style>
.DarkTurquoise-border {
	border-bottom: 0.15rem solid DarkTurquoise;
	border-radius: 0;
}

.black-border {
	border-bottom: 0.15rem solid black;
	border-radius: 0;
}
</style>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
				<a class="navbar-brand brand-logo" th:href="@{'/'}"> <!-- <span class="mdi mdi-view-agenda rotate-90 icon-xmd" style="padding-top: 4px;"></span> --> <span class="menu-title font-b iconic-text"> <small class="borderlist">리피의아일랜드</small>
				</span> <!-- <img th:src="@{'/resources/images/icon-cube-green.svg'}" alt="" /> --> <!-- <img th:src="@{'/resources/images/main-logo.svg'}" alt="" /> -->
				</a> <a class="navbar-brand brand-logo-mini" th:href="@{'/'}"> <!-- <span class="menu-title font-b">
						<small class="borderlist">리피</small>
					</span> --> <span> <small class="borderlist">홈</small> <!-- <i class="mdi mdi-view-agenda rotate-90 icon-xmd" style="padding-top: 14px;"></i> -->
				</span> <!-- <img th:src="@{'/resources/images/icon-cube-green.svg'}" alt="" /> -->
				</a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center">
				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item dropdown d-none d-xl-inline-block">
						<!-- 네비게이션 바 - 유저 프로파일 <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false"> --> <span class="profile-text">Hello!&nbsp;</span> <span class="profile-text" th:text="${user.getFname()}">Hello, Richard V.Welsh !</span> <span class="profile-text" style="margin-right: 15px;"> 님</span> <a id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false"> <img class="img-xs rounded-circle" th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="Profile image">
					</a> <!-- </a> -->

						<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
							<a class="dropdown-item p-0">
								<div class="d-flex border-bottom">
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
										<i class="mdi mdi-account-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
									</div>
								</div>
							</a>
							<div class="col-12 d-flex align-items-center" style="margin-top: 10px">
								<a class="dropdown-item d-flex align-items-center" href="#openModal"> <i class="mdi mdi-account-remove mr-0 text-gray"></i> &nbsp탈퇴하기
								</a>
							</div>
							<!-- 	<a class="dropdown-item mt-2"> Manage Accounts </a>
							<a class="dropdown-item"> Change Password </a> -->

							<!-- 							<a class="dropdown-item"> Sign Out </a>
 -->
						</div>


					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-minus-box icon-xmd"></span>
				</button>
			</div>
		</nav>

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">

			<nav class="sidebar sidebar-offcanvas fixed_menu" id="sidebar">
				<ul class="nav">
					<li class="nav-item nav-profile">
						<div class="nav-link">
							<!-- <div class="user-wrapper">
								<div class="profile-image">
									<img th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="profile image">
								</div>
								<div class="text-wrapper">
									<span class="profile-name" th:text="${user.getFname()}">홍길동</span>
									<span>&nbsp;님</span>
									<div>
										<small class="designation text-muted" style="padding: 0 6px 0 0px;">member</small>
										<span class="status-indicator online"></span>
									</div>
								</div>
							</div> -->
							<!-- <form th:action="@{'/logout'}" method="post">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
								<button class="btn btn-secondary btn-block" type="submit">
									<h5 style="margin-block-end: 0em;">
										<i class="menu-icon mdi mdi-power"></i>
										Log - Out
									</h5>
								</button>
							</form> -->
						</div>
					</li>

					<li class="nav-item" style="text-align: center;"><a class="nav-link" th:href="@{'/user/'}"> <i class="mdi mdi-dots-horizontal icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">나의 페이지 </small>
						</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{'/user/intro/'}"> <i class="mdi mdi-dots-vertical icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">진행과정</small>
						</span>
					</a></li>
					<!-- <li class="nav-item"><a class="nav-link" th:href="@{'/forum/write'}"> <i class="mdi mdi-menu-left icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">글쓰기</small>
						</span>  
					</a></li> -->
					<li class="nav-item"><a class="nav-link" th:href="@{'/forum/viewpostslist'}"> <i class="mdi mdi-menu-up icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">글보기</small>
						</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{'/school/all'}"> <i class="mdi mdi-drag-vertical icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">어학원 가격정보</small>
						</span>
					</a></li>
					<li class="nav-item bg-color-a">
						<form id="logout" th:action="@{'/logout'}" method="post">
							<a href="#" class="nav-link" onclick="document.getElementById('logout').submit()"> <i class="mdi mdi-power icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">로그아웃</small>
							</span>
							</a>
						</form>
					</li>
					<li class="nav-item bg-color-b"><a class="nav-link" th:href="@{'/consulting'}"> <i class="mdi mdi-minus icon-md"></i> <span class="menu-title font-b"> &nbsp<small class="">상담신청</small>
						</span>
					</a></li>
				</ul>
			</nav>

			<!-- partial -->
			<div class="main-panel margin_for_fixed">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-lg-8 grid-margin">
							<div class="card">
								<div class="card-body">
									<h3 class="font-c card-title">유학원 없이 혼자서 아일랜드 어학연수</h3>



									<p class="card-description">
										조금만 생각해 보면, 눈치챌수 있습니다. 결국은 내가 혼자 도전해야 내가 원하는 것을 얻을수 있다는 것. 혼자서 도전할때 생기는 설레임과 기대감, 이런것들을 당신 연수의 원동력으로 삼으세요. 내가 도전 하는 어학연수가 어떤 의미를 가지게 될지 생각해 보세요. 리피의 아일랜드는 당신이 혼자 힘으로도 충분히 아일랜드에서 연수 생활을 진행할수 있게 가장 기본적이지만 꼭 필요한 도움을 드리고 있습니다. 그리고 결과적으로 혼자서 진행함으로서 얻게되는것들의 중요함들을 강조하고 있습니다. <br />
										<br /> 어학원들은 제가 직접현지에서 방문하면서 최신의 정보들로 업데이트 하고 있습니다. 어학원 가격또한 유학원 보다 저렴한 가격으로 등록하실수 있도록 도와드리고 있습니다. 그리고 한가지 확실한것은, 당신이 어학원 한군데 잘간다고 해서 어학연수가 성공적으로 끝나지 않는다는 것이에요. 어학원 광고만 볼것이 아니라, 내가 현지에서 어떤 생활을 하게 될것인지 고민해보세요. 어려운 점이 있다면 제가 도와드릴수 있습니다. 리피.
									</p>


									<!-- <div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>First name</th>
													<th>Progress</th>
													<th>Amount</th>
													<th>Sales</th>
													<th>Deadline</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="font-weight-medium">1</td>
													<td>Herman Beck</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$ 77.99</td>
													<td class="text-danger">
														53.64%
														<i class="mdi mdi-arrow-down"></i>
													</td>
													<td>May 15, 2015</td>
												</tr>
												<tr>
													<td class="font-weight-medium">2</td>
													<td>Messsy Adam</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$245.30</td>
													<td class="text-success">
														24.56%
														<i class="mdi mdi-arrow-up"></i>
													</td>
													<td>July 1, 2015</td>
												</tr>
												<tr>
													<td class="font-weight-medium">3</td>
													<td>John Richards</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$138.00</td>
													<td class="text-danger">
														28.76%
														<i class="mdi mdi-arrow-down"></i>
													</td>
													<td>Apr 12, 2015</td>
												</tr>
												<tr>
													<td class="font-weight-medium">4</td>
													<td>Peter Meggik</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$ 77.99</td>
													<td class="text-danger">
														53.45%
														<i class="mdi mdi-arrow-down"></i>
													</td>
													<td>May 15, 2015</td>
												</tr>
												<tr>
													<td class="font-weight-medium">5</td>
													<td>Edward</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$ 160.25</td>
													<td class="text-success">
														18.32%
														<i class="mdi mdi-arrow-up"></i>
													</td>
													<td>May 03, 2015</td>
												</tr>
												<tr>
													<td class="font-weight-medium">6</td>
													<td>Henry Tom</td>
													<td>
														<div class="progress">
															<div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</td>
													<td>$ 150.00</td>
													<td class="text-danger">
														24.67%
														<i class="mdi mdi-arrow-down"></i>
													</td>
													<td>June 16, 2015</td>
												</tr>
											</tbody>
										</table>
									</div> -->
								</div>
							</div>
						</div>

						<div class="card col-lg-4 d-flex grid-margin borderon" style="padding: 20px;">

							<div class="d-flex align-items-center col-12">
								<form th:action="@{'/user/arrivalUpdate'}" class="mui-form" method="POST" />
								<div class="mui-textfield">
									<a class="datetime-toggle"> <span class="mdi mdi-calendar-check icon-xmd" style="padding-top: 0px; position: absolute;"></span>
									</a><input th:value="${userProfile.arrivaldate}" type="text" id="arrivaldate" name="arrivaldate" style="padding-left: 25px;" readonly>
									<label>아일랜드 입국시각</label>
								</div>
								<div class="mui-textfield borderon">
									<input id="flightinfo" name="flightinfo" th:value="${userProfile.flightinfo}" type="text" placeholder="BA3040 Dublin" />
									<label>비행기편 이름과 공항</label>
								</div>
								<div class="row d-flex justify-content-center align-items-center">
									<button type="submit" class="col-10 mui-btn mui-btn--raised font-b" style="border: 3px solid black; height: 42px; letter-spacing: -0.03rem;">나의 입국정보 입력하기</button>
								</div>
								</form>

								<!-- <div class="d-flex justify-content-center align-items-center" style="border: 3px solid black; margin-bottom: 7px;">
								<a th:href="@{/registerForm}" class="text-small forgot-password text-black"><i class="mdi mdi-library-plus icon-xmd"></i> <span class="menu-title font-b"> <small>&nbsp가입하기</small></a>
							</div> -->

							</div>

						</div>
					</div>


					<div class="col-lg-12">
						<h3 class="font-b" th:text="${user.fname} + ' 님의 아일랜드'">리피회원님의 연수플랜</h3>
					</div>

					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
							<div class="card card-statistics">
								<div class="card-header">
									<div class="clearfix">
										<div class="float-left">
											<i class="mdi mdi-school text-primary icon-lg"></i>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="clearfix">
										<div class="float-right">
											<p class="mb-0 text-right">나의 아일랜드 어학원</p>
											<div class="fluid-container">
												<h3 th:text="${userProfile.school} ?: '정하기 전'" class="font-weight-heavy font-b text-right mb-0">어학원</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="card-footer">
									<div class="clearfix">
										<div class="float-left">
											<p class="text-muted mt-3 mb-0">
												<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> School Chose.
											</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
							<div class="card card-statistics">
								<div class="card-header">
									<div class="clearfix">
										<div class="float-left">
											<i class="mdi mdi-fast-forward text-danger icon-lg"></i>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="clearfix">
										<div class="float-right">
											<p class="mb-0 text-right">나의 등록 진행상황</p>
											<div class="fluid-container">
												<h3 th:text="${userProfile.progress} ?: '심층상담 전'" class="font-weight-heavy font-b text-right mb-0">심층상담 전</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="card-footer">
									<div class="clearfix">
										<div class="float-left">
											<p class="text-muted mt-3 mb-0">
												<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> School Chose.
											</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
							<div class="card card-statistics">
								<div class="card-header">
									<div class="clearfix">
										<div class="float-left">
											<i class="mdi mdi-home-variant text-success icon-lg"></i>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="clearfix">
										<div class="float-right">
											<p class="mb-0 text-right">초기숙소정보</p>
											<div class="fluid-container">
												<h3 th:text="${userProfile.accomodation} ?: '정하기 전'" class="font-weight-heavy font-b text-right mb-0">정하기 전</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="card-footer">
									<div class="clearfix">
										<div class="float-left">
											<p class="text-muted mt-3 mb-0">
												<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> School Chose.
											</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
							<div class="card card-statistics" th:classappend="${userProfile.arrivaldate} ? 'DarkTurquoise-border' : 'black-border' ">
								<div class="card-header">
									<div class="clearfix">
										<div class="float-left">
											<i class="mdi mdi-airplane text- icon-lg"></i>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="clearfix">
										<div class="float-right">
											<p class="mb-0 text-right">아일랜드 입국정보</p>
											<div class="fluid-container">
												<h3 th:text="${userProfile.flightinfo} ?: '업데이트 전'" class="font-weight-heavy font-b text-right mb-0">업데이트 전입니다</h3>
												<h3 th:text="${userProfile.arrivaldate} ?: ''" class="font-weight-heavy font-b text-right mb-0"></h3>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="card-footer">
									<div class="clearfix">
										<div class="float-left">
											<p class="text-muted mt-3 mb-0">
												<i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> School Chose.
											</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>

					</div>







					<div class="w-100 grid-margin flex-wrap borderon d-none" id="instafeed">
						<!-- <div class="card w-100">
							<div class="card-body" style="padding: 0.8rem 0.8rem 0 0.8rem">
								<h3 class="card-title justify-content-center align-items-center text-center" style="margin: 0;">
									<i class="mdi mdi-instagram text-dark icon-lg"></i>
								</h3>
							</div>
						</div> -->
						<div class="col-lg-3 borderon" style="padding: 0px">
							<div class="card borderon">
								<div class="card-body borderon" style="padding: 0;">
									<img th:src="@{'/resources/images/blank.png'}" width="100%" height="100%" id="slot01" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 borderon" style="padding: 0px">
							<div class="card borderon">
								<div class="card-body borderon" style="padding: 0;">
									<img th:src="@{'/resources/images/blank.png'}" width="100%" height="100%" id="slot02" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 borderon" style="padding: 0px">
							<div class="card borderon">
								<div class="card-body borderon" style="padding: 0;">
									<img th:src="@{'/resources/images/blank.png'}" width="100%" height="100%" id="slot03" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 borderon" style="padding: 0px">
							<div class="card borderon">
								<div class="card-body borderon" style="padding: 0;">
									<img th:src="@{'/resources/images/blank.png'}" width="100%" height="100%" id="slot04" />
								</div>
							</div>
						</div>
					</div>

					<div class="row">


						<div class="col-lg-8 grid-margin">
							<div class="card">
								<div class="card-body">
									<h3 class="font-c card-title">조언</h3>
									<p class="card-description">
									<p class="font-c" th:utext="${#strings.replace( userProfile.admintext ,T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')} ?: '현지 도착이후, 개인의 상황에 맞게 업데이트 됩니다'">글내용</p>
									</p>
								</div>
							</div>
						</div>



					</div>



				</div>
				<!-- content-wrapper ends -->













				<!-- partial:partials/_footer.html -->
				<footer class="footer">
					<div class="container-fluid clearfix">
						<span class="d-block text-center text-sm-left d-sm-inline-block font-b"> Copyright © 2019 리피의 아일랜드. All rights reserved. </span> <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center font-b"> 아일랜드 현지번호 +353 87 2119 531 스스로 선택하는 자유, 혼자할수 있는 자신감 <!-- <i class="mdi mdi-heart text-danger"></i> -->
						</span>
					</div>
					<div class="borderon mt-auto align-self-end text-center">
						<a href="https://blog.naver.com/b1uedays_"> <i class="mdi mdi-web text-muted icon-sm"></i>
						</a> <a href="mailto: liffeydublin@naver.com"> <i class="mdi mdi-email text-muted icon-sm"></i>
						</a> <a href="https://www.instagram.com/liffeydublin/"> <i class="mdi mdi-instagram text-muted icon-sm"></i>
						</a>
						<!-- <a href="http://google.com">
							<i class="mdi mdi-youtube-play text-muted icon-sm"></i>
						</a> -->

					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container scroller ends  -->


	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>

			<h2>리피의 아일랜드 회원탈퇴</h2>

			<p>정말로 회원을 탈퇴하십니까? 당신과 관련된 모든자료는 폐기되고 복구되지 않습니다.</p>
			<form th:action="@{'/user/delete'}" method="post">
				<input class="btn btn-lg btn-primary btn-lg" type="submit" value="탈퇴하기" />
			</form>
		</div>
	</div>
	<!-- container-scroller -->



	<!--인스타그람 피드 가져오 -->
	<script th:inline="text">
		fetch("[[@{'/api/school/insta/liffeydublin'}]]")
			.then((res) => res.json())
			.then(function(data){
				return data.entry_data.ProfilePage["0"].graphql.user.edge_owner_to_timeline_media.edges;
			}).then(function(data) {
				return data.map(dataItem => dataItem.node.display_url)
			}).then(data => {
				for (i=1; i < 5; i++){
					var j = i - 1;
					var location = data[j]
					document.getElementById("slot0" + i).setAttribute("src", location)
				}
				document.getElementById("instafeed").classList.remove('d-none');
				document.getElementById("instafeed").classList.add('d-flex');
			})
			.catch(function(e) {
		        console.log(e)
		    })

		function getElementByXpath(path) {
  			return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
		}
	</script>
	<script>
	let simplepicker = new SimplePicker({
	      zIndex: 1050
	    });
	
	var el = document.querySelector('.datetime-toggle');
    el.addEventListener('click', function () {
    	 simplepicker.open();
    }, false);
    
    // $eventLog.innerHTML += '\n\n';
    simplepicker.on('submit', (date, readableDate) => {
     	/* alert(readableDate); */
        
        var myDate = new Date(date); 
        mysqldate = myDate.getUTCFullYear() + '-' +
  	          ('00' + (myDate.getUTCMonth()+1)).slice(-2) + '-' +
  	          ('00' + myDate.getUTCDate()).slice(-2) + ' ' + 
  	          ('00' + myDate.getUTCHours()).slice(-2) + ':' + 
  	          ('00' + myDate.getUTCMinutes()).slice(-2) + ':' + 
  	          ('00' + myDate.getUTCSeconds()).slice(-2);
	      	document.getElementById("arrivaldate").value = mysqldate;
    });

    /* simplepicker.on('close', (date) => {
      $eventLog.innerHTML += 'Picker Closed'  + '\n';
    }); */
	</script>


	<!-- plugins:js -->
	<script th:src="@{'/resources/vendors/js/vendor.bundle.base.js'}"></script>
	<script th:src="@{'/resources/vendors/js/vendor.bundle.addons.js'}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script th:src="@{'/resources/js/off-canvas.js'}"></script>
	<script th:src="@{'/resources/js/misc.js'}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{'/resources/js/dashboard.js'}"></script>
	<!-- End custom js for this page-->
</body>

</html>
