<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<title>User Profile Page</title>

<!-- Favicons and -- For iPhone -->
<link rel="icon" th:href="@{'/resources/images/favicon.ico'}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" th:href="@{'/resources/images/favicon.ico'}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:href="@{'/resources/images/favicon.ico'}">

<!-- CSS -->
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/font-awesome/css/font-awesome.css'}" type="text/css">

<link rel="stylesheet" th:href="@{'/resources/vendors/icheck/skins/all.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/css/style.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/iconfonts/mdi/css/materialdesignicons.min.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.base.css'}" type="text/css">
<link rel="stylesheet" th:href="@{'/resources/vendors/css/vendor.bundle.addons.css'}" type="text/css">

<style>
.font1rem {
	/* font-size: 0.99rem; */
}
</style>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
				<a class="navbar-brand brand-logo" th:href="@{'/'}">
					<img th:src="@{'/resources/images/main-logo.svg'}" alt="" />
				</a>
				<a class="navbar-brand brand-logo-mini" th:href="@{'/'}">
					<img th:src="@{'/resources/images/icon-cube-green.svg'}" alt="" />
				</a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center">
				<ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
				</ul>
				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item dropdown d-none d-xl-inline-block">
						<span class="profile-text">Hello!&nbsp;</span>
						<span class="profile-text" th:text="${user.getFname()}">Hello, Richard V.Welsh !</span>
						<span class="profile-text" style="margin-right: 15px;"> 님</span>
						<a id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
							<img class="img-xs rounded-circle" th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="Profile image">
						</a>

						<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
							<a class="dropdown-item p-0">
								<div class="d-flex border-bottom">
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
										<i class="mdi mdi-account-outline mr-0 text-gray"></i>
									</div>
									<div class="py-3 px-4 d-flex align-items-center justify-content-center">
										<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
									</div>
								</div>
							</a>
							<a class="dropdown-item mt-2"> Manage Accounts </a>
							<a class="dropdown-item"> Change Password </a>
							<a class="dropdown-item"> Check Inbox </a>
							<a class="dropdown-item"> Sign Out </a>
						</div>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item nav-profile">
						<div class="nav-link">
							<div class="user-wrapper">
								<div class="profile-image">
									<img th:src="@{'/resources'+${userProfile.getUserpics()}}" alt="profile image">
								</div>
								<div class="text-wrapper">
									<span class="profile-name" th:text="${user.getFname()}">홍길동</span>
									<span>&nbsp;님</span>
									<div>
										<small class="designation text-muted" style="padding: 0 6px 0 0px;">member</small>
										<span class="status-indicator online"></span>
									</div>
								</div>
							</div>
							<form th:action="@{'/logout'}" method="post">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
								<button class="btn btn-secondary btn-block" type="submit">
									<h5 style="margin-block-end: 0em;">
										<i class="menu-icon mdi mdi-power"></i>
										Log - Out
									</h5>
								</button>
							</form>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}}">
							<i class="menu-icon mdi mdi-television"></i>
							<span class="menu-title">Dash Board</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
							<i class="menu-icon mdi mdi-content-copy"></i>
							<span class="menu-title">Schools</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="ui-basic">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item">
									<a class="nav-link" href="pages/ui-features/buttons.html">Student Visa</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="pages/ui-features/typography.html">Working Holiday</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}+'/profile'}">
							<i class="menu-icon mdi mdi-backup-restore"></i>
							<span class="menu-title">My Profile</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{'/user/'+${user.getId()}+'/profile'}">
							<i class="menu-icon mdi mdi-chart-line"></i>
							<span class="menu-title">Charts</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pages/tables/basic-table.html">
							<i class="menu-icon mdi mdi-table"></i>
							<span class="menu-title">Tables</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pages/icons/font-awesome.html">
							<i class="menu-icon mdi mdi-sticker"></i>
							<span class="menu-title">Icons</span>
						</a>
					</li>
				</ul>
			</nav>


			<!--  메인 **/ -->


			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-12 grid-margin">
							<div class="card">
								<div class="card-header" style="padding-bottom: 0;">
									<div class="clearfix">
										<div class="float-left">
											<i class="fa fa-graduation-cap text-primary icon-big"></i>
										</div>
									</div>
								</div>
								<div class="card-body" style="padding-top: 0;">
									<h2 class="card-title">상담신청하기</h2>
									<!--    -->
									<form class="form-sample" th:action="@{'/user/'+${user.getId()}+'/updateUserProfile/formspree'}" id="formaction" method="GET" />
									<p class="card-description" style="padding: 0 0.5rem 0.5rem 0.5rem;">
										<i class="fa fa-caret-right"></i>
										아일랜드에만 80여개가 넘는 어학연수 기관이 운영중입니다. 이 중에서 한국으로 여러분에게 소개되는 곳들은 많지 않습니다. 모든곳들이 좋은 교육기관이라고 말씀드릴수 없지만, 자신이 어학원 으로 부터 바라는 부분, 기준들이 어떤것인지 정확히 안다면 좋은조건으로 연수를 진행할수 있습니다.
										<br />
										<i class="fa fa-caret-right"></i>
										리피의 아일랜드는 아일랜드내, 모든 어학연수 기관의 등록이 가능합니다.
										<br />
										<i class="fa fa-caret-right"></i>
										어학원 추천은 심층상담후, 상담자에게 적합한 연수기관(어학원)을 원하실때 한해서 추천드리고 있습니다. 상담란에 연수와 관련하여 구체적으로 알고 싶은점들을 표기하셔야, 심도있는 피드백을 받으실수 있다는 점도 알려드립니다. 단순한 질문에는 단순한 답변만 받게되실 것 입니다.
										<br />
										<i class="fa fa-caret-right"></i>
										ex. 왜 어학연수를 가려고 하는지? 어학연수로 얻고싶은 점은 무엇인지? 자신의 현재 경제적 상황은 어떤지? 영어 스피킹과 리스닝 실력은 어느수준인지? 등과 함께 현재자신에게 무엇이 필요한지, 상담으로 피드백 받고 싶은 부분이 어떤부분인지 구체적으로 작성해주시기 바랍니다
										<br />
										<i class="fa fa-caret-right"></i>
										기본적으로 상담은 메일로 회신드립니다. 이메일 정보가 정확한지 확인하시고, 필요시에는 수정후 상담신청서를 작성해주세요.
										<br />
									</p>

									<input type="hidden" name="_next" value="http://liffeyireland.com/thanks/" />
									<input type="text" name="_gotcha" style="display: none" />
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="name" th:field="*{user.fname}" name="name" />  <!--  th:valuse 로 했을때는 안됌?? -->
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">E-Mail</label>
												<div class="col-sm-9">
													<input class="form-control" type="email" id="email" name="email" th:field="*{user.email}" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Kakao Talk</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="kakaotalk" name="kakaotalk" th:field="*{userProfile.kakaotalk}" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<!-- <input type="text" name="sex" placeholder="성별" /> -->
												<label class="col-sm-3 col-form-label">Gender</label>
												<div class="col-sm-9">
													<select class="form-control" th:field="*{userProfileFormspree.gender}">
														<option value=""></option>
														<option value="male">Male</option>
														<option value="female">Female</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Telephone</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="tel" th:field="*{userProfileFormspree.telephone}"/>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Occupation</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="ocupation" th:field="*{userProfileFormspree.occupation}"/>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Study Plan</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="timeToStudy" th:field="*{userProfileFormspree.when}"/>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">English Level</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="levelOfEnglish" th:field="*{userProfileFormspree.englishlevel}" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Budget</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="priceOfSchool" th:field="*{userProfileFormspree.budget}" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">School</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="nameOfSchool" th:field="*{userProfileFormspree.school}" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Duration</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="durationOfStudy" th:field="*{userProfileFormspree.duration}"/>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">MBTI type</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" name="mbti" th:field="*{userProfile.mbti}"/>
												</div>
											</div>
											<!-- <div class="form-group row">
													<label class="col-sm-3 col-form-label">Interest</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" name="interest" placeholder="취미 혹은 흥미" />
													</div>
												</div> -->
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label class="col-form-label" for="exampleTextarea1">Textarea</label>
											<div class="form-group row">
												<div class="col-sm-12">
													<textarea class="form-control" style="line-height: 20px; width: 100%;" id="exampleTextarea1" rows="10" name="message" th:field="*{userProfileFormspree.textarea}">
													</textarea>
												</div>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-primary btn-fw" id="formspree_submit">Submit</button>
									</form>
								</div>
							</div>
						</div>

						<div class="col-md-6 d-flex align-items-stretch grid-margin">
							<div class="row flex-grow">
								<div class="col-12">
									<div class="card">
										<div class="card-header" style="padding-bottom: 0;">
											<div class="clearfix">
												<div class="float-left">
													<i class="mdi mdi-comment-account-outline text-primary icon-big"></i>
												</div>
											</div>
										</div>
										<div class="card-body" style="padding-top: 0;">
											<h3 class="card-title">Information</h3>
											<p class="card-description">자신의 정보를 확인하고 수정할수 있습니다.</p>
											<form class="form-sample" th:action="@{'/user/'+${user.getId()}+'/updateUserProfile'}" method="post">
												<p class="card-description"></p>
												<!-- form group -->
												<div class="row">
													<div class="col-md-12">
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">Name</label>
															<div class="col-sm-9">
																<input type="text" class="form-control font1rem" id="fname" th:field="*{user.Fname}" th:value="${user.getFname()}" readonly="readonly">
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">E-Mail</label>
															<div class="col-sm-9">
																<input type="email" class="form-control font1rem" id="email" th:field="*{user.Email}" th:value="${user.getEmail()}" readonly="readonly">
															</div>
														</div>
													</div>

													<div class="col-md-12">
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">KaKao Talk</label>
															<div class="col-sm-9">
																<input type="text" class="form-control font1rem" id="kakaotalk" th:field="*{userProfile.kakaotalk}" th:value="${userProfile.getKakaotalk()}"
																	readonly="readonly">
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">Visa Type</label>
															<div class="col-sm-9">
																<select class="form-control font1rem" disabled="true" id="visatype" th:field="*{userProfile.visatype}">
																	<option th:value="${userProfile.getVisatype()}" th:text="${userProfile.getVisatype()}" selected></option>
																	<option value="Student">Student</option>
																	<option value="Working-Holiday">Working-Holiday</option>
																</select>
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group row">
															<label class="col-sm-3 col-form-label">Interest</label>
															<div class="col-sm-9">
																<input type="text" class="form-control font1rem" id="interest" th:field="*{userProfile.interest}" th:value="${userProfile.getInterest()}"
																	readonly="readonly">
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group row">
															<button type="submit" id="submit_btn" class="btn btn-danger btn-fw" style="margin: 10px 10px 0 10px; display: none;">Submit</button>
															<button type="button" id="edit_btn" class="btn btn-primary btn-fw" style="margin: 10px 10px 0 10px;">Edit</button>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group row"></div>
													</div>
												</div>
												<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 grid-margin stretch-card">
							<div class="card">

								<div class="card-header" style="padding-bottom: 0;">
									<div class="clearfix">
										<div class="float-left">
											<i class="mdi mdi-airplane-landing text-primary icon-big"></i>
										</div>
									</div>
								</div>

								<div class="card-body" style="padding-top: 0;">
									<h3 class="card-title">Arriving</h3>
									<p class="card-description">아일랜드로 도착하는 항공편 정보를 입력해주세요. (리피회원만, BA3040 2018-03-04 15:50 더블린공항도착)</p>
									<form class="forms-sample" th:action="@{'/user/'+${user.getId()}+'/updateUserProfile'}" method="post">
										<div class="form-group">
											<!-- <label for="arrivingFlight"></label> -->
											<input type="text" class="form-control" id="flightinfo" th:field="*{userProfile.flightinfo}" th:value="${userProfile.getFlightinfo()}">
										</div>
										<button type="submit" class="btn btn-primary btn-fw">Submit</button>
										<!--  <button class="btn btn-light">Cancel</button> -->
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				<footer class="footer">
					<div class="container-fluid clearfix">
						<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
							Copyright © 2018
							<a href="#" target="_blank" style='font-family: "Kakao"'>리피의 아일랜드</a>
							. All rights reserved.
						</span>
						<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
							Hand-crafted & made with
							<i class="mdi mdi-heart text-danger"></i>
						</span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>

	<script>
		document.getElementById("edit_btn").addEventListener("click",function() {
							document.getElementById("submit_btn").style.display = "inline";
							document.forms[2].elements[1].readOnly = false;
							document.forms[2].elements[2].readOnly = false;
							document.forms[2].elements[3].readOnly = false;
							document.forms[2].elements[4].disabled = false;
							document.forms[2].elements[5].readOnly = false;
							// var x = document.getElementById("visatype");
							// x.remove(x.selectedIndex);
						});

		document.forms[1].elements[2].disabled = true;
		document.forms[1].elements[3].disabled = true;
		document.forms[1].elements[2].style = "background-color: #eee;"
		document.forms[1].elements[3].style = "background-color: #eee;"
		
		document.forms[1].elements[7].value = "직업"
		document.forms[1].elements[8].value = "예상연수시기(ex. 20xx 년 3월)"
		document.forms[1].elements[9].value = "현재 자신의 영어실력(ex. 상.중.하)"
		document.forms[1].elements[10].value = "희망하는 어학원의 가격(ex. 상.중.하)"	
		document.forms[1].elements[11].value = "관심있는 어학원의 이름"
		document.forms[1].elements[12].value = "예상연수기간(ex. 6개월)"
		document.forms[1].elements[14].value = "ex. 왜 어학연수를 가려고 하는지? 어학연수로 얻고싶은 점은 무엇인지? 자신의 현재 경제적 상황은 어떤지? 영어 스피킹과 리스닝 실력은 어느수준인지? 등과 함께 현재자신에게 무엇이 필요한지, 상담으로 피드백 받고 싶은 부분이 어떤부분인지 구체적으로 작성해주시기 바랍니다 "
		
       /*  var x; 
        for(x = 0; x < document.forms[1].elements.length; x++) { 
            
        } */
		// document.getElementById("p_kakaotalk").value = "카톡";
		
	</script>

	<!-- plugins:js -->
	<script th:src="@{'/resources/vendors/js/vendor.bundle.base.js'}"></script>
	<script th:src="@{'/resources/vendors/js/vendor.bundle.addons.js'}"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script th:src="@{'/resources/js/off-canvas.js'}"></script>
	<script th:src="@{'/resources/js/misc.js'}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{'/resources/js/dashboard.js'}"></script>
	<!-- End custom js for this page-->
</body>

</html>